*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
target/
*.iml
*.ipr
*.iws
*.log
*.class
.idea/
.gradle
build/
*.orig
local.properties
*/bin
*/gen
bin/
gen/
.idea/workspace.xml
*.DS_Store
.idea/
zhivolley/
